* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* this bg is applied for couple of rows in the specific table */
.productsTable tbody tr:nth-child(2n + 1) {
    background-color: rgb(244, 244, 244);
}

.productsTable tbody tr td,
.productsTable th {
    padding-inline: 8px;
}
.productsTable thead tr th:last-child {
    text-align: center;
}
/* views icone */
.svg-icon {
    width: 30px;
    height: 3 0px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}
