@tailwind base;
@tailwind components;
@tailwind utilities;

/* the animation for slides 'images' */


@layer utilities {
  @keyframes slide {
    0% { left: 100%; }
    10%, 30% { left: 0%; }
    40%, 100% { left: -100%; }
  }

  .animate-slide-1 {
    animation: slide 12s infinite 0s;
  }
  .animate-slide-2 {
    animation: slide 12s infinite 4s;
  }
  .animate-slide-3 {
    animation: slide 12s infinite 8s;
  }
}